#sidebar { float:left; width: 20%; border-top:solid 1px #dedede; padding: 10px; }
#sidebar p {margin-left: 180px;}
#sidebar table {margin-top: 10px;}
#sidebar h3 {}
#sidebar .inline-field {margin-top: 10px; margin-bottom: 10px;}
#sidebar th {width: 100%; background-color: #dedede}

#selector {float: right; width: 80%; border:solid 1px #dedede; background-color: antiquewhite; padding: 20px;}
#dishes1 {float: right; width: 80%}  

#dishes1 {padding:20px; border: solid 1px #dedede;}
#dishes1 ul{ list-style-type: none;}
#dishes1 ul li{ float:left; width:20%; margin-right:9px; height:383px; overflow:hidden; }
#dishes1 ul li{ margin-right:20px; }

#dishes1 .dishimage {width: 140px; height: 140px;}
#dishes1 .dishimage img {background: contain;}
#dishes1 p {margin-top: 10px}
#dishes1 .dishname {position: absolute; top: 90px; left: 15px; background-color: burlywood; width: 140px; height 10px; text-align: center;}

#selector {padding: 10px;}

h1#logo {float:left; width: 100%; margin:0px; height: 60px; padding: 10px; background-color: lightgrey; color: black;} 

button {background-color: rgb(252, 193, 31); box-shadow: 3px 3px 1px black; border-radius: 2px;}
#header a {color: black;}
#header em {color: black;}



